*{padding:0px;margin:0px}
.menu-top{background-color: #37a8f5;width: 100%;height:9%;position:absolute;top:0;}
.menu-content{position:absolute;width:90%;height:91%;top:9%;left:10%}
.menu-left{background-color: #242f3a;width: 10%;height:90.8%;position:absolute;left:0px;top:9%;}
.menu-logo{float: left;width:8%;margin-top: 1.7%;margin-left:20px;}
.link{float: left;height:100%;width:57.2%}
.link a{float: left;list-style-type:none;height:100%;width:9%;margin:0 3px;text-align: center;text-decoration:none;}
.link a:hover{background-color: #2596e4}
.enter-color{background-color:#2596e4}
#zb-span01{color:red}
#zb-span02{color:#11ffbb}
#zb-span03{color:#1c7a13}

/* table css start*/
table td{ border:#efdada solid 20px;height:3.7%;}
#name-td{height:7.4%;}
#name{margin: 5px auto}
.zb-content{width:65%;background-color: #00bcd4;margin:1.9% auto;text-align: center;float:left;}
#zb-data{}
.td-name{width:25.6%;}
.td-content{width:30.7%;}
.td-content2{width:30.7%;}
.td-input{width:70%;margin:8px auto;}
.td-input2{width:86%}
#pw{width:87.3%;margin:8px auto;}
.sys-nov-link{line-height: 9.2%;}
/* table css end*/

/* tools start*/
#tools{width: 25%;height: 456px;background-color: #00bcd4;float: right;margin-top: 32px;margin-right: 165px;}
/* tools end*/
/* tool-main start*/
#tool-main{width:80%;margin:20px auto;}
.tool-button{margin-left:30px;}
/* tool-main end*/

/* left menu start */
#left-content{width: 90%;height: 200px;}
#left-content a{    display: block;
    list-style-type: none;
    height: 30%;
    width: 111%;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    color: white;
    }
#left-content a:hover{text-decoration: none;background-color: #18212a;color:white;}
.left-link-enter-color{background-color: #18212a;}
/* left menu end */